<html class="w-100 h-100">

{{ template "header.html"}}


<script>
    const currentPersonID = {{.id}}
    var currentChatID = null

    var intervalId = window.setInterval(function(){
        SetChatDiv()
        if (currentChatID != null){
            chatClicked(currentChatID)
        }
    }, 10000);//every ten second


    function SetChatDiv(){
        var chatDiv = $("#chatDiv")
        chatDiv.html("")

        const beforeGroupName= `
        <div class="d-flex align-items-center w-auto h-auto chats" style="padding: 5px" onclick="chatClicked(`
        const after_arg = `)"><div class="w-100" style="background-color: #F6FFF8"><div class="container row d-flex w-100">`
        const afterGroupName = `</div</div><div><p>`
        const beforeLastMessage = `</p>
                        </div>
                    </div>
                </div>`

        $.ajax({
            url: "/person/people_chats/{{.id}}/",
            type: "GET",
            cache: true,
            success: function(response){
                console.log(response.data)
                for (item in response.data){
                    chatDiv.append(beforeGroupName + response.data[item].ID + ' ,\''  + response.data[item].ChatName + '\'' + after_arg + "<h4>" + response.data[item].ChatName + "</h4>" + afterGroupName + response.data[item].ChatLastMessage + beforeLastMessage);
                }
            }});
    }

    function AddFriend(userID, widget){
        console.log("hey")
        $.ajax({
            url: "/person/people_add_friend_list/"+currentPersonID+"/",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({person: [parseInt(currentPersonID), parseInt(userID)]}),
            cache: true,
            success: function(response){
                console.log(response)
            }});
        console.log(widget);
        widget.disabled=true;
        SetChatDiv()
    }

    function sendClicked(){
        var TextArea = $("#contextArea")
        $.ajax({
            url: "/message/messages",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({Person: parseInt(currentPersonID), Chat: currentChatID, Context: TextArea.val()}),
            cache: true,
            success: function(response){
                console.log(response)
            }});
        chatClicked(currentChatID);
        TextArea.val('')
    }

    function chatClicked(p1, p2){
        console.log(p1)
        currentChatID = p1
        $("#ChatName").text(p2)
        var messageDiv = $("#messageDiv")
        $.ajax({
            url: "/message/chat_messages/"+p1+"/",
            type: "GET",
            cache: true,
            success: function(response){
                console.log(response.data)
                messageDiv.html("")
                for (item in response.data){
                    console.log(response.data[item]);
                    console.log(response.data[item].context);
                    console.log(response.data[item].Person.nickname);
                    const time = new Date(response.data[item].CreatedAt);

                    const newMessage = `<div class="card w-50" style="background-color: #212529; color: whitesmoke;`
                    const newMessage2 = `"><div class="card-body"><div class="card-title row d-flex"><div class="col">` +
                        `<h5 class="card-title">` + response.data[item].Person.nickname + `</h5>` +
                        `</div>` +
                        `<div class="col-2">` +
                        time.getHours() + `:` + time.getMinutes() +
                        `</div></div>` +
                        `<p class="card-text">` + response.data[item].context + `</p>` +
                        `</div>`;
                    const heyMessage = "</div>";
                    if (currentPersonID === response.data[item].Person.ID.toString()){
                        messageDiv.append(newMessage+"margin-left:auto"+newMessage2+heyMessage)
                    }
                    else{
                        messageDiv.append(newMessage+"margin-light:auto"+newMessage2+heyMessage)
                    }
                }
            }});
    }

    $(document).ready( function () {
        SetChatDiv()
        $('#addFriendModal').on('show.bs.modal', function (e) {
            var AddFriendList = $("#AddFriendList")
            AddFriendList.html("")

            //`<div className="d-flex row"><div className="col"><p>Heyyo</p></div><div className="col"><button type="button" className="btn btn-dark">Add Friend</button></div></div>`
            const text = `<div class="d-flex row"><div class="col"><p>`
            const text2 = `</p></div><div class="col"><button type="button" class="btn btn-dark" onclick="AddFriend(`
            const text3 = ",this)\">Add Friend</button></div></div>"

            $.ajax({
                url: "/person/people_add_friend_list/{{.id}}/",
                type: "GET",
                cache: true,
                success: function(response){
                    console.log(response.data)
                    for (item in response.data){
                        console.log(response.data[item])
                        AddFriendList.append(text+response.data[item].nickname+text2+response.data[item].ID+text3)
                    }
                }});
        })
        $('#createGroupModal').on('show.bs.modal', function (e) {
            var CreateGroupList = $("#CreateGroupList")
            CreateGroupList.html("")
            //`<div className="d-flex row"><div className="col"><p>Heyyo</p></div><div className="col"><button type="button" className="btn btn-dark">Add Friend</button></div></div>`
            const text = `<div class="form-check"><input class="form-check-input" type="checkbox" name="person"`
            const text2 = `><label class="form-check-label"`
            const text3 = "</label</div"

            $.ajax({
                url: "/person/people_create_group_list/{{.id}}/",
                type: "GET",
                cache: true,
                success: function(response){
                    console.log(response.data)
                    for (item in response.data){
                        console.log(response.data[item])
                        CreateGroupList.append(text+"value="+response.data[item].ID+` id=formCheck`+response.data[item].ID+text2+"for=formCheck"+response.data[item].ID+">"+response.data[item].nickname+text3)
                    }
                }});
        })
    $("#createGroupButton").click( function () {
        var form = $("#CreateGroupList")
        var array = Array()
        array.push(parseInt(currentPersonID))
        var formArray = form.serializeArray()
        for (const serializeArrayKey in formArray) {
            console.log(formArray[serializeArrayKey]['value'])
            array.push(parseInt(formArray[serializeArrayKey]['value']))
        }
        $.ajax({
            url: "/message/create_chat/",
            type: "POST",
            cache: true,
            data: JSON.stringify({person: array, ChatName: $("#groupNameEntry").val()}),
            success: function(response){
                console.log(response.data)
            }});
        $('#createGroupModal').modal('toggle');
        SetChatDiv()
    })
    });
</script>

<body class="h-100 w-100" style="background-color: #6B9080">
    <main class="row h-100 w-100" style="padding-left: 10px; padding-right:10px; margin: 0">
        <div class="col-3 h-100" style="background-color: #A4C3B2">
            <div class="d-flex w-100 align-items-center" style="height: 10%">
                <div class="d-flex w-100 justify-content-center">
                    <h3> {{ .nickname }} </h3>
                </div>
            </div>
            <div id="chatDiv" class="w-100" style="background-color: #CCE3DE; height: 80%; padding: 0">
            </div>
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addFriendModal">Add Friend</button>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createGroupModal">Create Group</button>
            </div>
        </div>
        <div class="col h-100 w-100" style="background-color: whitesmoke">
            <div class="w-100" style="height: 10%;background-color: #A4C3B2">
                <div class="d-flex h-100 w-100 align-items-center">
                    <div class="d-flex w-100 justify-content-center">
                        <h3 id="ChatName"></h3>
                    </div>
                </div>
            </div>
            <div id="messageDiv" class="w-100" style="height: 80%;background-color: #CCE3DE; position: relative; overflow-y: auto">
            </div>
            <div class="w-100" style="height: 10%;background-color: #A4C3B2">
                <div class="input-group">
                    <textarea id="contextArea" class="form-control" aria-label="With textarea" style="resize: none" rows="1"></textarea>
                    <button type="button" class="btn btn-dark" onclick="sendClicked()">Send</button>
                </div>
            </div>
        </div>
    </main>

    {{ template "addFriendModal.html" }}

    {{ template "createGroupModal.html" }}

</body>
</html>