<html class="w-100 h-100">

{{ template "header.html"}}

<script>
  $(document).ready( function () {
    var form = $("#Form")
    var formButton = $("#formButton")

    formButton.click( function () {
      console.log("heyy")
      $.ajax({
        url: "/person/people/",
        type: "POST",
        cache: true,
        data: form.serialize(),
        success: function(response){
          console.log(response.data)
          window.location.href = "/"
        }});
    })

  });
</script>

<body class="h-100 w-100" style="background-color: #6B9080">
<main class="h-100 w-100 d-flex justify-content-center h-100 w-100 align-items-center">
  <form id="Form" action="">
    <div class="form-group">
      <label for="nicknameInput">Nickname</label>
      <input class="form-control" id="nicknameInput" name="Nickname" placeholder="Enter Nickname">
    </div>
    <button id="formButton"  type="button" class="btn btn-primary">Submit</button>
  </form>
</main>
</body>
</html>